# Dependencies for Airflow DAG tasks and pipeline scripts
lightgbm==4.3.0
scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
pyspark==3.5.1
pyarrow==16.1.0
Faker==25.2.0
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
scipy==1.13.0
matplotlib==3.9.0
PyYAML==6.0.1
python-dotenv==1.0.1
tqdm==4.66.4
rich==13.7.1
psutil==5.9.8
